<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main>

        <form>
            <input type="text" id="input-text"> <br>
            <div id="buttons">
                <input type="button" id="search-button" value="Search"> <input type="button" id="random-button" value="Random">
            </div>
        </form>

    </main>

    <script src="/scripts/indexScript.js"></script>
</body>

</html>